<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Header -->
  <div id="header">
    <div class="header-logo icon "><%= image_tag "meglet_logo.png", class: 'header-right', alt: 'Meglet Transportation and Gravel Delivery Logo' %></div>
    <br>
    <%= image_tag "gravel_truck.png", class: 'header-left', alt: 'Meglet Transportation Gravel Truck' %>
    <!--  <div class=" top-spacer">-->
    <div class="header-text">
      <h1>Meglet Transport</h1>
      <h2>Fully Insured - Reliable Service</h2>
      <h2>
        <a href="#" class="icon fa-phone"><span class="label"></span> Mobile: 250-228-2894</a>
      </h2>
      <h2>
        <a href="#" class="icon fa-building"><span class="label"></span> Office: 778-424-9599</a>
      </h2>
      <p>Your local hauling company with years of experience.
        <br/>
        Located in Qualicum Bay, Meglet Transport is able to provide for any project, large or small.
        <br>
        Landscape Material, Driveway Products, Gravel,
        Sand, Pit Run, Top Soil &
        <br>
        Excavating Services
      </p>
      <div class="link-container">
      <%= link_to "Home", root_path %> | <%= link_to "Services", "/about-us" %>
      </div>
    </div>
  </div>
    <%= yield %>

  <!-- Footer -->
  <div id="footer">
    <div class="container medium">

      <header class="major last">
        <h2>For Inquiries</h2>
      </header>

      <h2>
        <a href="#" class="icon fa-phone"><span class="label"></span> Mobile: 250-228-2894</a>
      </h2>
      <h2>
        <a href="#" class="icon fa-building"><span class="label"></span> Office: 778-424-9599</a>
      </h2>

      <!--    <form method="post" action="#">-->
      <!--      <div class="row">-->
      <!--        <div class="col-6 col-12-mobilep">-->
      <!--          <input type="text" name="name" placeholder="Name"/>-->
      <!--        </div>-->
      <!--        <div class="col-6 col-12-mobilep">-->
      <!--          <input type="email" name="email" placeholder="Email"/>-->
      <!--        </div>-->
      <!--        <div class="col-12">-->
      <!--          <textarea name="message" placeholder="Message" rows="6"></textarea>-->
      <!--        </div>-->
      <!--        <div class="col-12">-->
      <!--          <ul class="actions special">-->
      <!--            <li><input type="submit" value="Send Message"/></li>-->
      <!--          </ul>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </form>-->


      <ul class="copyright">
        <li><a href="https://www.shattereddesign.xyz">Shattered Design</a></li>
      </ul>

    </div>
  </div>
  </body>
</html>
